<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="listaAtores">

    <ion-item-sliding *ngFor="let ator of listaAtores">
      <ion-item lines="full" (click)="exibirFilme(ator)">

        <ion-thumbnail slot="start">
          <img *ngIf="ator.foto" src="{{ator.foto}}" />
          <ion-icon *ngIf="!ator.foto" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{ator.nome}}</h1>
            <p>{{ator.idade}}</p>
            <ion-badge color="medium" *ngFor="let filme of ator.filmes">
              {{filme}}
            </ion-badge>
            <ion-icon name="star" [color]="ator.favorito===true ? 'warning' : ('light')"></ion-icon>
          </div>
        </ion-label>

        <ion-chip [color]="ator.idade < 5 ? 'danger' : ((ator.idade < 7 ? 'warning' : 'success'))"
          outline>
          <ion-label>{{ator.idade}}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="exibirAlertaFavorito(ator)">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
