<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="listaAtores">

    <ion-item-sliding *ngFor="let ator of listaAtores">
      <ion-item >

        <ion-thumbnail slot="start">
          <img *ngIf="ator.foto" src="{{ator.foto}}" />
          <ion-icon *ngIf="!ator.foto" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{ator.nome}}</h1>
            <p>{{ator.idade + ' Anos'}}</p>
            <ion-label color="light" *ngFor="let filme of ator.filmes">
              <p class="p-filme">{{filme}}</p><hr>
            </ion-label>

            <ion-badge color="medium" *ngFor="let serie of ator.series">
             <p class="p-serie">{{serie}}</p>
            </ion-badge>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="exibirAlertaFavorito(ator)">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
