<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="myClass" [fullscreen]="true">

  <ion-list *ngIf="listaAtores">

    <ion-item-sliding *ngFor="let ator of listaAtores">
      <ion-item lines="full" (click)="exibirFilme(ator)">

        <ion-thumbnail slot="start">
          <div class="foto">
            <img *ngIf="ator.cartaz" src="{{ator.cartaz}}" />
          </div>
          <ion-icon *ngIf="!ator.cartaz" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1 class="titulo">{{ator.nome}}</h1>
            <p class="ano-lancamento">{{ator.idade + ' Anos'}}</p>
            <ion-label color="light" *ngFor="let filme of ator.filmes">
              <p class="p-filme">{{filme}}</p><hr>
            </ion-label>

            <ion-badge color="medium" *ngFor="let serie of ator.series">
             <p color="warning" class="p-serie">{{serie}}</p>
            </ion-badge>
          </div>
        </ion-label>
        <ion-chip  (click)="somar(ator)" [color]="ator.classificacao < 5 ? 'danger' : ((ator.classificacao < 7 ? 'warning' : 'success'))"
        outline>
        <ion-label>{{ator.classificacao}}</ion-label>
      </ion-chip>
      </ion-item>



      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="exibirAlertaFavorito(ator)">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

